.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 1rem;
  background-color: #8e8e8e;
  color: #343a40;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 1rem;
  font-size: 2rem; /*font size of top text*/
  font-weight: 700; 
  color: #000000;
  line-height: 1.2; /* Adjust spacing within the text */
  max-width: 80%; /* Limit width for better alignment */
  margin: 0 auto 1rem; /* Center-align with proper spacing */
}

html, body {/*ensure border of site is not there*/
  padding: 0;
  margin: 0;
  background-color: #8e8e8e;
}



.image-description {
  margin-top: 10px;
  font-size: 1rem;
  color: #343a40;
  text-align: center;
}

/* Center the image properly */
.image-gallery-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Apply border only when not in fullscreen */
.image-gallery-slide img {
  max-width: 80vw;  /* Prevents image from overflowing */
  max-height: 80vh;
  object-fit: contain; /* Ensures the whole image is visible */
  border: 5px solid #000000; /* Black border */
  border-radius: 12px; /* Smooth rounded corners */
  padding: 0; /* Remove extra padding */
  background-color: transparent; /* Remove white background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}





